# OMDB API

In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv('MovieDataset.csv')
df.head()

,ID,Title,Directed by,Produced by,Cinematography,Country,Running Time (int),Release Date (datetime),Distributed by,Language,...,Story by,Box Office (float),Release Year,Trailer ID,Trailer Title,SentimentScore,Budget (float),Box Office Status,Age Rating,Genres
0,0,Daybreakers,The Spierig Brothers,"['Chris Brown', 'Sean Furst', 'Bryan Furst']",Ben Nott,NaN,98.0,2009-09-11,"['Lionsgate (United States)', 'Hoyts Distribut...",English,...,NaN,51400000.0,2009,U6NmZS9CTKE,NaN,0.642857,20000000.0,Success,R,"Action, Horror, Sci-Fi"
1,1,Leap Year,Anand Tucker,"['Gary Barber', 'Chris Bender', 'Roger Birnbau...",Newton Thomas Sigel,NaN,100.0,2010-01-06,"['Universal Pictures (United States)', 'Optimu...",English,...,NaN,32700000.0,2010,HrlQBsd8LsE,NaN,0.830000,19000000.0,Failure,PG,"Comedy, Romance"
2,2,Youth in Revolt,Miguel Arteta,David Permut,Chuy Chávez,United States,89.0,2009-10-19,Dimension Films,English,...,NaN,19700000.0,2009,1gBnVf130uU,NaN,0.780000,18000000.0,Failure,R,"Comedy, Drama, Romance"
3,3,Wonderful World,Joshua Goldin,"['Miranda Bailey', 'Matthew Leutwyler', 'Glenn...",Daniel Shulman,United States,89.0,2009-04-27,Magnolia Pictures,English,...,NaN,9309.0,2009,n2_4asPVgOQ,NaN,0.500000,3000000.0,Failure,R,"Comedy, Drama, Romance"
4,4,The Book of Eli,The Hughes Brothers,"['Joel Silver', 'Denzel Washington', 'Broderic...",Don Burgess,United States,118.0,2010-01-15,"['Warner Bros. Pictures', ' (North America)', ...",English,...,NaN,157100000.0,2010,zSMHmtaoXtI,NaN,0.880000,80000000.0,Failure,R,"Action, Adventure, Drama"

Use OMDB API To Get Ratings And Genres

In [114]:
# import requests
# import json
# from urllib.parse import quote

# apiKey1 = '2fdcd4e2'
# apiKey2 = 'b026a403'
# apiKey3 = 'ba0729e6'


# startingIndex = 1800

# # Iterate over each row in the DataFrame
# for index, row in df.iloc[startingIndex:].iterrows():
#     title = row['Title']
#     # year = str(row['Release Year'])

#     request = f'http://www.omdbapi.com/?apikey={apiKey3}&t={title}'

#     response = requests.get(request)

#     # If Request Was Successful
#     if response.status_code == 200:
#         if response.json()['Response'] == 'True':
#             ageRating = response.json()['Rated']
#             genre = response.json()['Genre']
#             df.at[index, 'Age Rating'] = ageRating
#             df.at[index, 'Genres'] = genre
#         else:
#             df.at[index, 'Age Rating'] = np.nan
#             df.at[index, 'Genres'] = np.nan
#     else:
#         print(f'Failed To Get Video ID For Title: {title} At Index {index}')

# Data Cleanup

In [115]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
Age Rating                    6
Genres                        4
dtype: int64

In [116]:
column = 'Age Rating'
showNullIDs = df[df[column].isnull()][['ID', 'Title', 'Genres']]
print(showNullIDs)

        ID                      Title   Genres
72      72             Here and There  Romance
136    136          The Army of Crime      NaN
174    174                     Crayon    Drama
182    182  Five Minarets in New York      NaN
1503  1503                  Smalltoes      NaN
1564  1564       Miss Balasubramaniam      NaN

Assign Rating To Null Or Wrong Values

In [117]:
df.loc[df['ID'] == 76, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 108, 'Age Rating'] = "R"
df.loc[df['ID'] == 133, 'Age Rating'] = "PG"
df.loc[df['ID'] == 133, 'Genres'] = "Family, Comedy"
df.loc[df['ID'] == 173, 'Age Rating'] = "R"
df.loc[df['ID'] == 173, 'Genres'] = "Crime, Drama"
df.loc[df['ID'] == 192, 'Age Rating'] = "PG"
df.loc[df['ID'] == 192, 'Genres'] = "Action, Family"
df.loc[df['ID'] == 262, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 262, 'Genres'] = "Documentary, Comedy"
df.loc[df['ID'] == 303, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 318, 'Age Rating'] = "PG"
df.loc[df['ID'] == 318, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 430, 'Age Rating'] = "R"
df.loc[df['ID'] == 443, 'Age Rating'] = "R"
df.loc[df['ID'] == 443, 'Genres'] = "Comedy, Romance"
df.loc[df['ID'] == 444, 'Age Rating'] = "PG"
df.loc[df['ID'] == 444, 'Genres'] = "Family, Comedy"
df.loc[df['ID'] == 459, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 481, 'Age Rating'] = "PG"
df.loc[df['ID'] == 491, 'Age Rating'] = "R"
df.loc[df['ID'] == 491, 'Genres'] = "Comedy, Drama"
df.loc[df['ID'] == 573, 'Age Rating'] = "R"
df.loc[df['ID'] == 573, 'Genres'] = "Horror, Thriller"
df.loc[df['ID'] == 617, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 617, 'Genres'] = "Comedy, Horror"
df.loc[df['ID'] == 653, 'Age Rating'] = "R"
df.loc[df['ID'] == 653, 'Genres'] = "Action, Drama"
df.loc[df['ID'] == 740, 'Age Rating'] = "PG"
df.loc[df['ID'] == 755, 'Age Rating'] = "R"
df.loc[df['ID'] == 755, 'Genres'] = "Horror, Thriller"
df.loc[df['ID'] == 846, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 846, 'Genres'] = "Drama, Mystery"
df.loc[df['ID'] == 866, 'Age Rating'] = "R"
df.loc[df['ID'] == 900, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 900, 'Genres'] = "Drama, Horror"
df.loc[df['ID'] == 1052, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1052, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 1062, 'Age Rating'] = "R"
df.loc[df['ID'] == 1062, 'Genres'] = "Action, Drama"
df.loc[df['ID'] == 1093, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1093, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 1179, 'Age Rating'] = "R"
df.loc[df['ID'] == 1335, 'Age Rating'] = "R"
df.loc[df['ID'] == 1335, 'Genres'] = "Horror"
df.loc[df['ID'] == 1375, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1375, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 1446, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1446, 'Genres'] = "Action, Comedy"
df.loc[df['ID'] == 1505, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1521, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1576, 'Age Rating'] = "R"
df.loc[df['ID'] == 1701, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1701, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 1718, 'Age Rating'] = "R"
df.loc[df['ID'] == 1718, 'Genres'] = "Action, Comedy"
df.loc[df['ID'] == 1803, 'Age Rating'] = "PG"
df.loc[df['ID'] == 1803, 'Age Rating'] = "PG"
df.loc[df['ID'] == 1803, 'Genres'] = "Animated, Adventure"
df.loc[df['ID'] == 1818, 'Age Rating'] = "R"
df.loc[df['ID'] == 1818, 'Genres'] = "Horror, Thriller"
df.loc[df['ID'] == 1834, 'Age Rating'] = "PG"
df.loc[df['ID'] == 1834, 'Genres'] = "Animated, Adventure"
df.loc[df['ID'] == 1841, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1841, 'Genres'] = "Action, Adventure"
df.loc[df['ID'] == 1885, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1900, 'Age Rating'] = "PG"
df.loc[df['ID'] == 1900, 'Genres'] = "Animated, Adventure"
df.loc[df['ID'] == 1951, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1951, 'Genres'] = "Comdey"
df.loc[df['ID'] == 1985, 'Age Rating'] = "PG-13"
df.loc[df['ID'] == 1985, 'Genres'] = "Crime, Comedy"

In [118]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
Age Rating                    6
Genres                        4
dtype: int64

In [119]:
df['Age Rating'].unique()

array(['R', 'PG', 'Not Rated', 'PG-13', 'G', nan, 'NC-17'], dtype=object)

Replace TV Ratings With Movie Ones

In [120]:
df['Age Rating'] = df['Age Rating'].replace('Unrated', 'Not Rated')
df['Age Rating'] = df['Age Rating'].replace('TV-G', 'PG')
df['Age Rating'] = df['Age Rating'].replace('TV-MA', 'R')
df['Age Rating'] = df['Age Rating'].replace('TV-14', 'PG-13')
df['Age Rating'] = df['Age Rating'].replace('TV-PG', 'PG')

In [121]:
rating = 'TV-PG'
filtered_df = df[df['Age Rating'] == rating][['Title', 'ID', 'Release Year']]
print(filtered_df)

Empty DataFrame
Columns: [Title, ID, Release Year]
Index: []

In [122]:
df['Age Rating'].unique()

array(['R', 'PG', 'Not Rated', 'PG-13', 'G', nan, 'NC-17'], dtype=object)

In [123]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
Age Rating                    6
Genres                        4
dtype: int64

In [124]:
df.to_csv('MovieDataset.csv', index=False)