In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('WikipediaMovieDatasetWithTrailerIDsAndSentimentScore.csv')
df = df[[col for col in df.columns if col not in ['Budget (float)', 'Box Office Status']] + ['Budget (float)', 'Box Office Status']]
df.head()

,ID,Title,Directed by,Produced by,Cinematography,Country,Running Time (int),Release Date (datetime),Distributed by,Language,...,Production companies,Based on,Story by,Box Office (float),Release Year,Trailer ID,Trailer Title,SentimentScore,Budget (float),Box Office Status
0,0,Daybreakers,The Spierig Brothers,"['Chris Brown', 'Sean Furst', 'Bryan Furst']",Ben Nott,NaN,98.0,2009-09-11,"['Lionsgate (United States)', 'Hoyts Distribut...",English,...,"['Lionsgate', 'Screen Australia', 'Pictures in...",NaN,NaN,51400000.0,2009,U6NmZS9CTKE,NaN,0.642857,20000000.0,Success
1,1,Leap Year,Anand Tucker,"['Gary Barber', 'Chris Bender', 'Roger Birnbau...",Newton Thomas Sigel,NaN,100.0,2010-01-06,"['Universal Pictures (United States)', 'Optimu...",English,...,"['Spyglass Entertainment', 'BenderSpink']",NaN,NaN,32700000.0,2010,HrlQBsd8LsE,NaN,0.830000,19000000.0,Failure
2,2,Youth in Revolt,Miguel Arteta,David Permut,Chuy Chávez,United States,89.0,2009-10-19,Dimension Films,English,...,"['Permut', 'Shangri-La Entertainment']","['Youth in Revolt', 'by ', 'C.D. Payne']",NaN,19700000.0,2009,1gBnVf130uU,NaN,0.780000,18000000.0,Failure
3,3,Wonderful World,Joshua Goldin,"['Miranda Bailey', 'Matthew Leutwyler', 'Glenn...",Daniel Shulman,United States,89.0,2009-04-27,Magnolia Pictures,English,...,"['Ambush Entertainment', 'Back Lot Pictures', ...",NaN,NaN,9309.0,2009,n2_4asPVgOQ,NaN,0.500000,3000000.0,Failure
4,4,The Book of Eli,The Hughes Brothers,"['Joel Silver', 'Denzel Washington', 'Broderic...",Don Burgess,United States,118.0,2010-01-15,"['Warner Bros. Pictures', ' (North America)', ...",English,...,"['Alcon Entertainment', 'Silver Pictures']",NaN,NaN,157100000.0,2010,zSMHmtaoXtI,NaN,0.880000,80000000.0,Failure

In [94]:
rows_with_sentiment_1 = df.loc[df['SentimentScore'] == 1.0]
row_ids_with_sentiment_1 = rows_with_sentiment_1.index.tolist()
print(row_ids_with_sentiment_1)

[13, 215, 302, 320, 383, 404, 442, 513, 642, 803]

In [95]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
dtype: int64

In [96]:
df.drop(['Country', 'Story by', 'Music by', 'Based on', 'Story by', 'Trailer ID', 'Trailer Title', 'Box Office (float)'], axis=1, inplace=True)

In [97]:
df.dropna(subset=['SentimentScore'], inplace=True)

In [98]:
df.isnull().sum()

ID                           0
Title                        0
Directed by                  0
Produced by                  0
Cinematography              30
Running Time (int)           3
Release Date (datetime)      0
Distributed by               3
Language                   140
Written by                   9
Starring                    10
Edited by                    9
Production companies        29
Release Year                 0
SentimentScore               0
Budget (float)               0
Box Office Status            0
dtype: int64

In [99]:
column = 'Distributed by'
showNullIDs = df[df[column].isnull()]['ID']
showNullYears = df[df[column].isnull()]['Release Year']
showNullTitles = df[df[column].isnull()]['Title']
print(showNullIDs.to_list())
print(showNullYears.to_list())
print(showNullTitles.to_list())

[16, 30, 779]
[2009, 2009, 2014]
['Ajami', 'Formosa Betrayed', '50 to 1']

Fill In Missing Running Times

In [100]:
df.loc[df['ID'] == 72, 'Running Time (int)'] = 85.0
df.loc[df['ID'] == 713, 'Running Time (int)'] = 118.0
df.loc[df['ID'] == 1872, 'Running Time (int)'] = 119.0

Fill In Missing Language

In [101]:
df.loc[df['ID'] == 16, 'Language'] = 'Arabic'

Fill In Missing Distributors

In [102]:
df.loc[df['ID'] == 16, 'Distributed by'] = 'Kino International'
df.loc[df['ID'] == 30, 'Distributed by'] = 'Screen Media Films'
df.loc[df['ID'] == 779, 'Distributed by'] = 'Ten Furlongs'

Fill Null Languages With English

In [103]:
df['Language'].fillna('English', inplace=True)

C:\Users\tasin\AppData\Local\Temp\ipykernel_11800\1857735874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Language'].fillna('English', inplace=True)

In [104]:
rowInfo = df.loc[16]
print(rowInfo)

ID                                                                        16
Title                                                                  Ajami
Directed by                                 ['Scandar Copti', 'Yaron Shani']
Produced by                ['Moshe Danon', 'Thanassis Karathanos', 'Talia...
Cinematography                                         Boaz Yehonatan Yaacov
Running Time (int)                                                     120.0
Release Date (datetime)                                           2009-05-22
Distributed by                                            Kino International
Language                                                              Arabic
Written by                                  ['Scandar Copti', 'Yaron Shani']
Starring                   ['Fouad Habash', 'Ibrahim Frege', 'Scandar Cop...
Edited by                                   ['Scandar Copti', 'Yaron Shani']
Production companies                                                     NaN
Release Year                                                            2009
SentimentScore                                                      0.388889
Budget (float)                                                     1000000.0
Box Office Status                                                    Failure
Name: 16, dtype: object

In [105]:
# df.to_csv('MovieDataset.csv', index=False)