# Data Cleaning

In [139]:
import pandas as pd
import numpy as np

In [140]:
df = pd.read_csv('WikipediaMovieDatasetWithTrailerIDsAndSentimentScore.csv')
df = df[[col for col in df.columns if col not in ['Budget (float)', 'Box Office Status']] + ['Budget (float)', 'Box Office Status']]
df.head()

,ID,Title,Directed by,Produced by,Cinematography,Country,Running Time (int),Release Date (datetime),Distributed by,Language,...,Production companies,Based on,Story by,Box Office (float),Release Year,Trailer ID,Trailer Title,SentimentScore,Budget (float),Box Office Status
0,0,Daybreakers,The Spierig Brothers,"['Chris Brown', 'Sean Furst', 'Bryan Furst']",Ben Nott,NaN,98.0,2009-09-11,"['Lionsgate (United States)', 'Hoyts Distribut...",English,...,"['Lionsgate', 'Screen Australia', 'Pictures in...",NaN,NaN,51400000.0,2009,U6NmZS9CTKE,NaN,0.642857,20000000.0,Success
1,1,Leap Year,Anand Tucker,"['Gary Barber', 'Chris Bender', 'Roger Birnbau...",Newton Thomas Sigel,NaN,100.0,2010-01-06,"['Universal Pictures (United States)', 'Optimu...",English,...,"['Spyglass Entertainment', 'BenderSpink']",NaN,NaN,32700000.0,2010,HrlQBsd8LsE,NaN,0.830000,19000000.0,Failure
2,2,Youth in Revolt,Miguel Arteta,David Permut,Chuy Chávez,United States,89.0,2009-10-19,Dimension Films,English,...,"['Permut', 'Shangri-La Entertainment']","['Youth in Revolt', 'by ', 'C.D. Payne']",NaN,19700000.0,2009,1gBnVf130uU,NaN,0.780000,18000000.0,Failure
3,3,Wonderful World,Joshua Goldin,"['Miranda Bailey', 'Matthew Leutwyler', 'Glenn...",Daniel Shulman,United States,89.0,2009-04-27,Magnolia Pictures,English,...,"['Ambush Entertainment', 'Back Lot Pictures', ...",NaN,NaN,9309.0,2009,n2_4asPVgOQ,NaN,0.500000,3000000.0,Failure
4,4,The Book of Eli,The Hughes Brothers,"['Joel Silver', 'Denzel Washington', 'Broderic...",Don Burgess,United States,118.0,2010-01-15,"['Warner Bros. Pictures', ' (North America)', ...",English,...,"['Alcon Entertainment', 'Silver Pictures']",NaN,NaN,157100000.0,2010,zSMHmtaoXtI,NaN,0.880000,80000000.0,Failure

In [141]:
production_companies = df.loc[0, 'Starring']
print(production_companies)

['Ethan Hawke', 'Willem Dafoe', 'Claudia Karvan', 'Michael Dorman', 'Sam Neill', 'Vince Colosimo', 'Isabel Lucas']

In [142]:
rows_with_sentiment_1 = df.loc[df['SentimentScore'] == 1.0]
row_ids_with_sentiment_1 = rows_with_sentiment_1.index.tolist()
print(row_ids_with_sentiment_1)

[13, 215, 302, 320, 383, 404, 442, 513, 642, 803]

In [143]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
dtype: int64

In [144]:
df.drop(['Country', 'Story by', 'Music by', 'Based on', 'Story by', 'Trailer ID', 'Trailer Title', 'Box Office (float)'], axis=1, inplace=True)

In [145]:
df.dropna(subset=['SentimentScore'], inplace=True)

In [146]:
df.isnull().sum()

ID                           0
Title                        0
Directed by                  0
Produced by                  0
Cinematography              30
Running Time (int)           3
Release Date (datetime)      0
Distributed by               3
Language                   140
Written by                   9
Starring                    10
Edited by                    9
Production companies        29
Release Year                 0
SentimentScore               0
Budget (float)               0
Box Office Status            0
dtype: int64

In [147]:
column = 'Production companies'
showNullIDs = df[df[column].isnull()][['ID', 'Title']]
print(showNullIDs)

        ID                                              Title
16      16                                              Ajami
20      20                                  Shinjuku Incident
24      24                                            Lourdes
25      25                                   The Ghost Writer
31      31                                          A Prophet
72      72                                     Here and There
78      78                                       Solitary Man
91      91                      Coco Chanel & Igor Stravinsky
101    101                                         Wild Grass
103    103                                         Love Ranch
136    136                                  The Army of Crime
164    164                                         Inside Job
215    215                                   Barney's Version
227    227                                           Mooz-lum
234    234                                            Beastly
262    262  POM Wonderful Presents: The Greatest Movie Eve...
294    294                                   The Perfect Host
328    328                       I Don't Know How She Does It
391    391                                             Pariah
393    393                                       A Separation
479    479                                          Last Ride
484    484                                 Farewell, My Queen
618    618                                          Java Heat
779    779                                            50 to 1
810    810             America: Imagine the World Without Her
846    846         Atlas Shrugged Part III: Who Is John Galt?
1000  1000                                    The Perfect Guy
1188  1188                                    I'm Not Ashamed
1476  1476                                           Dog Days

Fill in Missing Production Companies

In [148]:
df.loc[df['ID'] == 16, 'Production companies'] = "['Inosan productions', 'Twenty Twenty Vision Filmproduktion GmbH', 'ARTE', 'Vertigo Films']"
df.loc[df['ID'] == 20, 'Production companies'] = 'Emperor Dragon Movies'
df.loc[df['ID'] == 24, 'Production companies'] = "['ARTE', 'Canal+', 'Coop99 Filmproduktion']"
df.loc[df['ID'] == 25, 'Production companies'] = "['R.P. Productions', 'France 2 Cinéma', 'Studio Babelsberg']"
df.loc[df['ID'] == 31, 'Production companies'] = "['Why Not Productions', 'Chic Films', 'Page 114']"
df.loc[df['ID'] == 72, 'Production companies'] = "['KinoKamera', 'Here and There Productions', 'Joroni Film']"
df.loc[df['ID'] == 78, 'Production companies'] = "['Millennium Films', 'Paul Schiff Productions', 'Smartest Man Productions']"
df.loc[df['ID'] == 91, 'Production companies'] = "['Eurowide Film Production', 'Hexagon Pictures', 'Filmazure']"
df.loc[df['ID'] == 101, 'Production companies'] = "['F Comme Film', 'StudioCanal', 'France 2 Cinéma']"
df.loc[df['ID'] == 101, 'Production companies'] = "['F Comme Film', 'StudioCanal', 'France 2 Cinéma']"
df.loc[df['ID'] == 103, 'Production companies'] = "['Aramid Entertainment Fund', 'Film & Entertainment VIP Medienfonds 3 GmbH & Co. KG', 'Rising Star']"
df.loc[df['ID'] == 136, 'Production companies'] = "['Agat Films & Cie', 'StudioCanal', 'France 3 Cinéma']"
df.loc[df['ID'] == 215, 'Production companies'] = "['Serendipity Point Films', 'Fandango', 'Lyla Films']"
df.loc[df['ID'] == 227, 'Production companies'] = "['Q Productions', 'Ameena Sky Media', 'Peace Film']"
df.loc[df['ID'] == 262, 'Production companies'] = "['Snoot Entertainment', 'Warrior Poets']"
df.loc[df['ID'] == 294, 'Production companies'] = "['Stacey Testro International', 'Mark Victor Productions', 'Perfect Host']"
df.loc[df['ID'] == 328, 'Production companies'] = 'The Weinstein Company'
df.loc[df['ID'] == 391, 'Production companies'] = "['Chicken And Egg Pictures', 'MBK Entertainment', 'Northstar Pictures']"
df.loc[df['ID'] == 393, 'Production companies'] = "['Asghar Farhadi Productions', 'Dreamlab Films', 'MPA APSA Academy Film Fund']"
df.loc[df['ID'] == 479, 'Production companies'] = "['Australian Film Finance Corporation (AFFC)', 'Film Victoria', 'Last Ride']"
df.loc[df['ID'] == 484, 'Production companies'] = "['GMT Productions', 'Les Films du Lendemain', 'Morena Films']"
df.loc[df['ID'] == 618, 'Production companies'] = "['Margate House Films', 'Margate House']"
df.loc[df['ID'] == 779, 'Production companies'] = 'Ten Furlongs'
df.loc[df['ID'] == 846, 'Production companies'] = 'Atlas 3 Productions'
df.loc[df['ID'] == 1000, 'Production companies'] = "['Confluential Films', 'Rocklin/Faust', 'Screen Gems']"
df.loc[df['ID'] == 1188, 'Production companies'] = "['Visible Pictures(II)', 'Big Film Factory']"
df.loc[df['ID'] == 1476, 'Production companies'] = 'LD Entertainment'

Fill in Missing Editors

In [149]:
df.loc[df['ID'] == 19, 'Edited by'] = "['Stéphane Garnier', 'Julien Rey']"
df.loc[df['ID'] == 72, 'Edited by'] = 'Dejan Urosevic'
df.loc[df['ID'] == 73, 'Edited by'] = 'Beverley Mills'
df.loc[df['ID'] == 227, 'Edited by'] = "['Christopher Scott', 'Cherot']"
df.loc[df['ID'] == 260, 'Edited by'] = 'Martin Elsbury'
df.loc[df['ID'] == 423, 'Edited by'] = "['Molle DeBartolo', 'Andrew Pang', 'Anthony Raffaele', 'Jonathan Sanden', 'Darrell R. Smith', 'John Woo']"
df.loc[df['ID'] == 779, 'Edited by'] = 'Ben Callahan'
df.loc[df['ID'] == 1872, 'Edited by'] = "['Ankur Agrawal', 'Keith Brachmann']"

Fill in Missing Starring

In [150]:
df.loc[df['ID'] == 563, 'Starring'] = "['Erica Linz', 'Igor Zaripov', 'Lutz Halbhubner', 'John Clarke', 'Dallas Barnett']"

Fill in Missing Cinematographers

In [151]:
df.loc[df['ID'] == 27, 'Cinematography'] = 'Seamus Tierney'
df.loc[df['ID'] == 73, 'Cinematography'] = 'Gabriel Beristain'
df.loc[df['ID'] == 211, 'Cinematography'] = 'Dick Pope'
df.loc[df['ID'] == 227, 'Cinematography'] = 'Ian Dudley'
df.loc[df['ID'] == 260, 'Cinematography'] = 'Sophie Darlington'
df.loc[df['ID'] == 481, 'Cinematography'] = 'Sarah Weinstein'
df.loc[df['ID'] == 779, 'Cinematography'] = 'Tim Suhrstedt'
df.loc[df['ID'] == 1231, 'Cinematography'] = 'Henry Adebonojo'
df.loc[df['ID'] == 1266, 'Cinematography'] = 'Justin Maguire'
df.loc[df['ID'] == 1387, 'Cinematography'] = 'Paul Thomas Anderson'
df.loc[df['ID'] == 1724, 'Cinematography'] = 'Chris Darnell'

Fill In Missing Running Times

In [152]:
df.loc[df['ID'] == 72, 'Running Time (int)'] = 85.0
df.loc[df['ID'] == 713, 'Running Time (int)'] = 118.0
df.loc[df['ID'] == 1872, 'Running Time (int)'] = 119.0

Fill In Missing Language

In [153]:
df.loc[df['ID'] == 16, 'Language'] = 'Arabic'

Fill In Missing Distributors

In [154]:
df.loc[df['ID'] == 16, 'Distributed by'] = 'Kino International'
df.loc[df['ID'] == 30, 'Distributed by'] = 'Screen Media Films'
df.loc[df['ID'] == 779, 'Distributed by'] = 'Ten Furlongs'

Fill Null Languages With English

In [155]:
df['Language'].fillna('English', inplace=True)

C:\Users\tasin\AppData\Local\Temp\ipykernel_11752\1857735874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Language'].fillna('English', inplace=True)

In [156]:
df.isnull().sum()

ID                          0
Title                       0
Directed by                 0
Produced by                 0
Cinematography             19
Running Time (int)          0
Release Date (datetime)     0
Distributed by              0
Language                    0
Written by                  9
Starring                    9
Edited by                   1
Production companies        3
Release Year                0
SentimentScore              0
Budget (float)              0
Box Office Status           0
dtype: int64

Remove Rows With Null Values

In [157]:
df.dropna(subset=['Cinematography'], inplace=True)
df.dropna(subset=['Written by'], inplace=True)
df.dropna(subset=['Starring'], inplace=True)
df.dropna(subset=['Edited by'], inplace=True)
df.dropna(subset=['Production companies'], inplace=True)

In [158]:
df.isnull().sum()

ID                         0
Title                      0
Directed by                0
Produced by                0
Cinematography             0
Running Time (int)         0
Release Date (datetime)    0
Distributed by             0
Language                   0
Written by                 0
Starring                   0
Edited by                  0
Production companies       0
Release Year               0
SentimentScore             0
Budget (float)             0
Box Office Status          0
dtype: int64

Convert Strings To List

In [159]:
# Function to Check if a Value Is a String Representation of a List
def isStringList(value):
    return isinstance(value, str) and value.startswith("[") and value.endswith("]")

# Apply the Function to Create a Boolean Mask
maskStarring = df['Starring'].apply(isStringList)
maskDirectedBy = df['Directed by'].apply(isStringList)
maskProducedBy = df['Produced by'].apply(isStringList)
maskCinematography = df['Cinematography'].apply(isStringList)
maskDistributedBy = df['Distributed by'].apply(isStringList)
maskWrittenBy = df['Written by'].apply(isStringList)
maskEditedBy = df['Edited by'].apply(isStringList)
maskProductionCompanies = df['Production companies'].apply(isStringList)

# Apply eval() Only to the Elements That Are String Representations of Lists
df.loc[maskStarring, 'Starring'] = df.loc[maskStarring, 'Starring'].apply(eval)
df.loc[maskDirectedBy, 'Directed by'] = df.loc[maskDirectedBy, 'Directed by'].apply(eval)
df.loc[maskProducedBy, 'Produced by'] = df.loc[maskProducedBy, 'Produced by'].apply(eval)
df.loc[maskCinematography, 'Cinematography'] = df.loc[maskCinematography, 'Cinematography'].apply(eval)
df.loc[maskDistributedBy, 'Distributed by'] = df.loc[maskDistributedBy, 'Distributed by'].apply(eval)
df.loc[maskWrittenBy, 'Written by'] = df.loc[maskWrittenBy, 'Written by'].apply(eval)
df.loc[maskEditedBy, 'Edited by'] = df.loc[maskEditedBy, 'Edited by'].apply(eval)
df.loc[maskProductionCompanies, 'Production companies'] = df.loc[maskProductionCompanies, 'Production companies'].apply(eval)

In [160]:
# See What DateTime Rows are Causing Errors
errors = pd.to_datetime(df['Release Date (datetime)'], errors='coerce').isnull()
rowsWithErrors = df[errors]
print(rowsWithErrors)

      ID                   Title                      Directed by  \
78    78            Solitary Man  [Brian Koppelman, David Levien]
271  271      Something Borrowed                  Luke Greenfield
294  294        The Perfect Host                  Nicholas Tomnay
436  436  The Cabin in the Woods                     Drew Goddard
667  667         The World's End                     Edgar Wright

                                           Produced by    Cinematography  \
78   [Moshe Diamant, Danny Dimbort, Joe Gatta,  , J...  Alwin H. Küchler
271  [Hilary Swank, Molly Smith, Broderick Johnson,...    Charles Minsky
294                       [Mark Victor, Stacey Testro]      John Brawley
436                                        Joss Whedon      Peter Deming
667               [Nira Park, Tim Bevan, Eric Fellner]         Bill Pope

     Running Time (int) Release Date (datetime)  \
78                 90.0     2010-05-07 00:00:00
271               112.0     2011-05-06 00:00:00
294                92.0     2011-07-01 00:00:00
436                95.0     2012-04-13 00:00:00
667               109.0     2013-08-23 00:00:00

                                        Distributed by Language  \
78        [Millennium Films, Smartest Man Productions]  English
271  [Warner Bros. Pictures,  (North America and Fr...  English
294                                  Magnolia Pictures  English
436                                          Lionsgate  English
667  [Focus Features (United States), Universal Pic...  English

                           Written by  \
78                    Brian Koppelman
271               Jennie Snyder Urman
294  [Nicholas Tomnay, Krishna Jones]
436       [Joss Whedon, Drew Goddard]
667        [Simon Pegg, Edgar Wright]

                                              Starring        Edited by  \
78   [Michael Douglas, Jenna Fischer, Jesse Eisenbe...     Tricia Cooke
271  [Kate Hudson, Ginnifer Goodwin, John Krasinski...     John Axelrad
294  [David Hyde Pierce, Clayne Crawford, Helen Reddy]  Nicholas Tomnay
436  [Kristen Connolly, Chris Hemsworth, Anna Hutch...      Lisa Lassek
667  [Simon Pegg, Nick Frost, Paddy Considine, Mart...    Paul Machliss

                                  Production companies  Release Year  \
78   [Millennium Films, Paul Schiff Productions, Sm...          2010
271                    [Alcon Entertainment, 2S Films]          2011
294  [Stacey Testro International, Mark Victor Prod...          2011
436                           Mutant Enemy Productions          2012
667  [Relativity Media, Working Title Films, Big Ta...          2013

     SentimentScore  Budget (float) Box Office Status
78         0.473684      15000000.0           Failure
271        0.490000      35000000.0           Failure
294        0.703704        500000.0           Failure
436        0.740000      30000000.0           Failure
667        0.800000      20000000.0           Success

In [161]:
df.loc[df['ID'] == 78, 'Release Date (datetime)'] = '2010-05-07'
df.loc[df['ID'] == 271, 'Release Date (datetime)'] = '2011-05-06'
df.loc[df['ID'] == 294, 'Release Date (datetime)'] = '2011-07-01'
df.loc[df['ID'] == 436, 'Release Date (datetime)'] = '2012-04-13'
df.loc[df['ID'] == 667, 'Release Date (datetime)'] = '2013-08-23'

In [162]:
value = df.iloc[69]
print(value)

ID                                                                        78
Title                                                           Solitary Man
Directed by                                  [Brian Koppelman, David Levien]
Produced by                [Moshe Diamant, Danny Dimbort, Joe Gatta,  , J...
Cinematography                                              Alwin H. Küchler
Running Time (int)                                                      90.0
Release Date (datetime)                                           2010-05-07
Distributed by                  [Millennium Films, Smartest Man Productions]
Language                                                             English
Written by                                                   Brian Koppelman
Starring                   [Michael Douglas, Jenna Fischer, Jesse Eisenbe...
Edited by                                                       Tricia Cooke
Production companies       [Millennium Films, Paul Schiff Productions, Sm...
Release Year                                                            2010
SentimentScore                                                      0.473684
Budget (float)                                                    15000000.0
Box Office Status                                                    Failure
Name: 78, dtype: object

In [163]:
# Convert Release Date to DateTime
df['Release Date (datetime)'] = pd.to_datetime(df['Release Date (datetime)'], format='%Y-%m-%d')

In [164]:
# Check the Data Type of the Release Date Column in the 11th Row
releaseDate = df.loc[11, 'Release Date (datetime)']
print(type(releaseDate))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [165]:
value = df.iloc[69]
print(value)

ID                                                                        78
Title                                                           Solitary Man
Directed by                                  [Brian Koppelman, David Levien]
Produced by                [Moshe Diamant, Danny Dimbort, Joe Gatta,  , J...
Cinematography                                              Alwin H. Küchler
Running Time (int)                                                      90.0
Release Date (datetime)                                  2010-05-07 00:00:00
Distributed by                  [Millennium Films, Smartest Man Productions]
Language                                                             English
Written by                                                   Brian Koppelman
Starring                   [Michael Douglas, Jenna Fischer, Jesse Eisenbe...
Edited by                                                       Tricia Cooke
Production companies       [Millennium Films, Paul Schiff Productions, Sm...
Release Year                                                            2010
SentimentScore                                                      0.473684
Budget (float)                                                    15000000.0
Box Office Status                                                    Failure
Name: 78, dtype: object

In [166]:
# Extract Month and Day from Release Date
df['Release Day'] = df['Release Date (datetime)'].dt.day
df['Release Month'] = df['Release Date (datetime)'].dt.month

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1772 entries, 0 to 1994
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1772 non-null   int64
 1   Title                    1772 non-null   object
 2   Directed by              1772 non-null   object
 3   Produced by              1772 non-null   object
 4   Cinematography           1772 non-null   object
 5   Running Time (int)       1772 non-null   float64
 6   Release Date (datetime)  1772 non-null   datetime64[ns]
 7   Distributed by           1772 non-null   object
 8   Language                 1772 non-null   object
 9   Written by               1772 non-null   object
 10  Starring                 1772 non-null   object
 11  Edited by                1772 non-null   object
 12  Production companies     1772 non-null   object
 13  Release Year             1772 non-null   int64
 14  SentimentScore           1772 non-null   float64
 15  Budget (float)           1772 non-null   float64
 16  Box Office Status        1772 non-null   object
 17  Release Day              1772 non-null   int32
 18  Release Month            1772 non-null   int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(2), object(11)
memory usage: 327.6+ KB

In [168]:
df = df[['Title', 'Directed by', 'Produced by', 'Cinematography', 'Running Time (int)', 'Distributed by', 'Language', 'Written by', 'Starring', 'Edited by', 'Production companies', 'Release Day', 'Release Month', 'Release Year', 'SentimentScore', 'Budget (float)', 'Box Office Status']]

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1772 entries, 0 to 1994
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1772 non-null   object
 1   Directed by           1772 non-null   object
 2   Produced by           1772 non-null   object
 3   Cinematography        1772 non-null   object
 4   Running Time (int)    1772 non-null   float64
 5   Distributed by        1772 non-null   object
 6   Language              1772 non-null   object
 7   Written by            1772 non-null   object
 8   Starring              1772 non-null   object
 9   Edited by             1772 non-null   object
 10  Production companies  1772 non-null   object
 11  Release Day           1772 non-null   int32
 12  Release Month         1772 non-null   int32
 13  Release Year          1772 non-null   int64
 14  SentimentScore        1772 non-null   float64
 15  Budget (float)        1772 non-null   float64
 16  Box Office Status     1772 non-null   object
dtypes: float64(3), int32(2), int64(1), object(11)
memory usage: 299.9+ KB

In [170]:
starring= df.loc[0, 'Production companies']
print(starring[0])

Lionsgate

In [171]:
import pickle

def saveDataPickle(name, data):
    if hasattr(data, 'reset_index'):
        data = data.reset_index(drop=True)
    with open(name, 'wb') as f:
        pickle.dump(data, f)

In [172]:
saveDataPickle("WikipediaMovieDataset.pickle", df)