# Data Cleaning

In [809]:
import pandas as pd
import numpy as np

In [810]:
df = pd.read_csv('MovieDataset.csv')
df.head()

,ID,Title,Directed by,Produced by,Cinematography,Country,Running Time (int),Release Date (datetime),Distributed by,Language,...,Story by,Box Office (float),Release Year,Trailer ID,Trailer Title,SentimentScore,Budget (float),Box Office Status,Age Rating,Genres
0,0,Daybreakers,The Spierig Brothers,"['Chris Brown', 'Sean Furst', 'Bryan Furst']",Ben Nott,NaN,98.0,2009-09-11,"['Lionsgate (United States)', 'Hoyts Distribut...",English,...,NaN,51400000.0,2009,U6NmZS9CTKE,NaN,0.642857,20000000.0,Success,R,"Action, Horror, Sci-Fi"
1,1,Leap Year,Anand Tucker,"['Gary Barber', 'Chris Bender', 'Roger Birnbau...",Newton Thomas Sigel,NaN,100.0,2010-01-06,"['Universal Pictures (United States)', 'Optimu...",English,...,NaN,32700000.0,2010,HrlQBsd8LsE,NaN,0.830000,19000000.0,Failure,PG,"Comedy, Romance"
2,2,Youth in Revolt,Miguel Arteta,David Permut,Chuy Chávez,United States,89.0,2009-10-19,Dimension Films,English,...,NaN,19700000.0,2009,1gBnVf130uU,NaN,0.780000,18000000.0,Failure,R,"Comedy, Drama, Romance"
3,3,Wonderful World,Joshua Goldin,"['Miranda Bailey', 'Matthew Leutwyler', 'Glenn...",Daniel Shulman,United States,89.0,2009-04-27,Magnolia Pictures,English,...,NaN,9309.0,2009,n2_4asPVgOQ,NaN,0.500000,3000000.0,Failure,R,"Comedy, Drama, Romance"
4,4,The Book of Eli,The Hughes Brothers,"['Joel Silver', 'Denzel Washington', 'Broderic...",Don Burgess,United States,118.0,2010-01-15,"['Warner Bros. Pictures', ' (North America)', ...",English,...,NaN,157100000.0,2010,zSMHmtaoXtI,NaN,0.880000,80000000.0,Failure,R,"Action, Adventure, Drama"

Add Genre And Age Rating Columns To The Data

In [811]:
production_companies = df.loc[0, 'Starring']
print(production_companies)

['Ethan Hawke', 'Willem Dafoe', 'Claudia Karvan', 'Michael Dorman', 'Sam Neill', 'Vince Colosimo', 'Isabel Lucas']

In [812]:
rowsWithSentiment1 = df.loc[df['SentimentScore'] == 1.0]
rowIDsWithSentiment1 = rowsWithSentiment1.index.tolist()
print(rowIDsWithSentiment1)

[13, 215, 302, 320, 383, 404, 442, 513, 642, 803]

In [813]:
df.isnull().sum()

ID                            0
Title                         0
Directed by                   0
Produced by                   1
Cinematography               82
Country                     450
Running Time (int)            4
Release Date (datetime)       0
Distributed by                4
Language                    145
Written by                   10
Starring                     11
Edited by                     9
Music by                     74
Production companies         33
Based on                   1035
Story by                   1546
Box Office (float)            0
Release Year                  0
Trailer ID                    0
Trailer Title                88
SentimentScore              185
Budget (float)                0
Box Office Status             0
Age Rating                    6
Genres                        4
dtype: int64

In [814]:
df.drop(['Country', 'Story by', 'Music by', 'Based on', 'Story by', 'Trailer ID', 'Trailer Title', 'Genres'], axis=1, inplace=True)

In [815]:
df.dropna(subset=['SentimentScore'], inplace=True)

In [816]:
df.isnull().sum()

ID                           0
Title                        0
Directed by                  0
Produced by                  0
Cinematography              30
Running Time (int)           3
Release Date (datetime)      0
Distributed by               3
Language                   140
Written by                   9
Starring                    10
Edited by                    9
Production companies        29
Box Office (float)           0
Release Year                 0
SentimentScore               0
Budget (float)               0
Box Office Status            0
Age Rating                   5
dtype: int64

In [817]:
column = 'Production companies'
showNullIDs = df[df[column].isnull()][['ID', 'Title']]
print(showNullIDs)

        ID                                              Title
16      16                                              Ajami
20      20                                  Shinjuku Incident
24      24                                            Lourdes
25      25                                   The Ghost Writer
31      31                                          A Prophet
72      72                                     Here and There
78      78                                       Solitary Man
91      91                      Coco Chanel & Igor Stravinsky
101    101                                         Wild Grass
103    103                                         Love Ranch
136    136                                  The Army of Crime
164    164                                         Inside Job
215    215                                   Barney's Version
227    227                                           Mooz-lum
234    234                                            Beastly
262    262  POM Wonderful Presents: The Greatest Movie Eve...
294    294                                   The Perfect Host
328    328                       I Don't Know How She Does It
391    391                                             Pariah
393    393                                       A Separation
479    479                                          Last Ride
484    484                                 Farewell, My Queen
618    618                                          Java Heat
779    779                                            50 to 1
810    810             America: Imagine the World Without Her
846    846         Atlas Shrugged Part III: Who Is John Galt?
1000  1000                                    The Perfect Guy
1188  1188                                    I'm Not Ashamed
1476  1476                                           Dog Days

Fill in Missing Production Companies

In [818]:
df.loc[df['ID'] == 16, 'Production companies'] = "['Inosan productions', 'Twenty Twenty Vision Filmproduktion GmbH', 'ARTE', 'Vertigo Films']"
df.loc[df['ID'] == 20, 'Production companies'] = 'Emperor Dragon Movies'
df.loc[df['ID'] == 24, 'Production companies'] = "['ARTE', 'Canal+', 'Coop99 Filmproduktion']"
df.loc[df['ID'] == 25, 'Production companies'] = "['R.P. Productions', 'France 2 Cinéma', 'Studio Babelsberg']"
df.loc[df['ID'] == 31, 'Production companies'] = "['Why Not Productions', 'Chic Films', 'Page 114']"
df.loc[df['ID'] == 72, 'Production companies'] = "['KinoKamera', 'Here and There Productions', 'Joroni Film']"
df.loc[df['ID'] == 78, 'Production companies'] = "['Millennium Films', 'Paul Schiff Productions', 'Smartest Man Productions']"
df.loc[df['ID'] == 91, 'Production companies'] = "['Eurowide Film Production', 'Hexagon Pictures', 'Filmazure']"
df.loc[df['ID'] == 101, 'Production companies'] = "['F Comme Film', 'StudioCanal', 'France 2 Cinéma']"
df.loc[df['ID'] == 101, 'Production companies'] = "['F Comme Film', 'StudioCanal', 'France 2 Cinéma']"
df.loc[df['ID'] == 103, 'Production companies'] = "['Aramid Entertainment Fund', 'Film & Entertainment VIP Medienfonds 3 GmbH & Co. KG', 'Rising Star']"
df.loc[df['ID'] == 136, 'Production companies'] = "['Agat Films & Cie', 'StudioCanal', 'France 3 Cinéma']"
df.loc[df['ID'] == 215, 'Production companies'] = "['Serendipity Point Films', 'Fandango', 'Lyla Films']"
df.loc[df['ID'] == 227, 'Production companies'] = "['Q Productions', 'Ameena Sky Media', 'Peace Film']"
df.loc[df['ID'] == 262, 'Production companies'] = "['Snoot Entertainment', 'Warrior Poets']"
df.loc[df['ID'] == 294, 'Production companies'] = "['Stacey Testro International', 'Mark Victor Productions', 'Perfect Host']"
df.loc[df['ID'] == 328, 'Production companies'] = 'The Weinstein Company'
df.loc[df['ID'] == 391, 'Production companies'] = "['Chicken And Egg Pictures', 'MBK Entertainment', 'Northstar Pictures']"
df.loc[df['ID'] == 393, 'Production companies'] = "['Asghar Farhadi Productions', 'Dreamlab Films', 'MPA APSA Academy Film Fund']"
df.loc[df['ID'] == 479, 'Production companies'] = "['Australian Film Finance Corporation (AFFC)', 'Film Victoria', 'Last Ride']"
df.loc[df['ID'] == 484, 'Production companies'] = "['GMT Productions', 'Les Films du Lendemain', 'Morena Films']"
df.loc[df['ID'] == 618, 'Production companies'] = "['Margate House Films', 'Margate House']"
df.loc[df['ID'] == 779, 'Production companies'] = 'Ten Furlongs'
df.loc[df['ID'] == 846, 'Production companies'] = 'Atlas 3 Productions'
df.loc[df['ID'] == 1000, 'Production companies'] = "['Confluential Films', 'Rocklin/Faust', 'Screen Gems']"
df.loc[df['ID'] == 1188, 'Production companies'] = "['Visible Pictures(II)', 'Big Film Factory']"
df.loc[df['ID'] == 1476, 'Production companies'] = 'LD Entertainment'

Fill in Missing Editors

In [819]:
df.loc[df['ID'] == 19, 'Edited by'] = "['Stéphane Garnier', 'Julien Rey']"
df.loc[df['ID'] == 72, 'Edited by'] = 'Dejan Urosevic'
df.loc[df['ID'] == 73, 'Edited by'] = 'Beverley Mills'
df.loc[df['ID'] == 227, 'Edited by'] = "['Christopher Scott', 'Cherot']"
df.loc[df['ID'] == 260, 'Edited by'] = 'Martin Elsbury'
df.loc[df['ID'] == 423, 'Edited by'] = "['Molle DeBartolo', 'Andrew Pang', 'Anthony Raffaele', 'Jonathan Sanden', 'Darrell R. Smith', 'John Woo']"
df.loc[df['ID'] == 779, 'Edited by'] = 'Ben Callahan'
df.loc[df['ID'] == 1872, 'Edited by'] = "['Ankur Agrawal', 'Keith Brachmann']"

Fill in Missing Starring

In [820]:
df.loc[df['ID'] == 563, 'Starring'] = "['Erica Linz', 'Igor Zaripov', 'Lutz Halbhubner', 'John Clarke', 'Dallas Barnett']"

Fill in Missing Cinematographers

In [821]:
df.loc[df['ID'] == 27, 'Cinematography'] = 'Seamus Tierney'
df.loc[df['ID'] == 73, 'Cinematography'] = 'Gabriel Beristain'
df.loc[df['ID'] == 211, 'Cinematography'] = 'Dick Pope'
df.loc[df['ID'] == 227, 'Cinematography'] = 'Ian Dudley'
df.loc[df['ID'] == 260, 'Cinematography'] = 'Sophie Darlington'
df.loc[df['ID'] == 481, 'Cinematography'] = 'Sarah Weinstein'
df.loc[df['ID'] == 779, 'Cinematography'] = 'Tim Suhrstedt'
df.loc[df['ID'] == 1231, 'Cinematography'] = 'Henry Adebonojo'
df.loc[df['ID'] == 1266, 'Cinematography'] = 'Justin Maguire'
df.loc[df['ID'] == 1387, 'Cinematography'] = 'Paul Thomas Anderson'
df.loc[df['ID'] == 1724, 'Cinematography'] = 'Chris Darnell'

Fill In Missing Running Times

In [822]:
df.loc[df['ID'] == 72, 'Running Time (int)'] = 85.0
df.loc[df['ID'] == 713, 'Running Time (int)'] = 118.0
df.loc[df['ID'] == 1872, 'Running Time (int)'] = 119.0

Fill In Missing Language

In [823]:
df.loc[df['ID'] == 16, 'Language'] = 'Arabic'

Fill In Missing Distributors

In [824]:
df.loc[df['ID'] == 16, 'Distributed by'] = 'Kino International'
df.loc[df['ID'] == 30, 'Distributed by'] = 'Screen Media Films'
df.loc[df['ID'] == 779, 'Distributed by'] = 'Ten Furlongs'

Fill Null Languages With English

In [825]:
df['Language'].fillna('English', inplace=True)

C:\Users\tasin\AppData\Local\Temp\ipykernel_18008\1857735874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Language'].fillna('English', inplace=True)

In [826]:
df.isnull().sum()

ID                          0
Title                       0
Directed by                 0
Produced by                 0
Cinematography             19
Running Time (int)          0
Release Date (datetime)     0
Distributed by              0
Language                    0
Written by                  9
Starring                    9
Edited by                   1
Production companies        3
Box Office (float)          0
Release Year                0
SentimentScore              0
Budget (float)              0
Box Office Status           0
Age Rating                  5
dtype: int64

Remove Rows With Null Values

In [827]:
df.dropna(subset=['Cinematography'], inplace=True)
df.dropna(subset=['Written by'], inplace=True)
df.dropna(subset=['Starring'], inplace=True)
df.dropna(subset=['Edited by'], inplace=True)
df.dropna(subset=['Production companies'], inplace=True)
df.dropna(subset=['Age Rating'], inplace=True)

In [828]:
df.isnull().sum()

ID                         0
Title                      0
Directed by                0
Produced by                0
Cinematography             0
Running Time (int)         0
Release Date (datetime)    0
Distributed by             0
Language                   0
Written by                 0
Starring                   0
Edited by                  0
Production companies       0
Box Office (float)         0
Release Year               0
SentimentScore             0
Budget (float)             0
Box Office Status          0
Age Rating                 0
dtype: int64

Convert Strings To List

In [829]:
# Function to Check if a Value Is a String
def isString(value):
    return isinstance(value, str)

# Apply the Function to Create a Boolean Mask
maskStarring = df['Starring'].apply(isString)
maskDirectedBy = df['Directed by'].apply(isString)
maskProducedBy = df['Produced by'].apply(isString)
maskCinematography = df['Cinematography'].apply(isString)
maskDistributedBy = df['Distributed by'].apply(isString)
maskWrittenBy = df['Written by'].apply(isString)
maskEditedBy = df['Edited by'].apply(isString)
maskProductionCompanies = df['Production companies'].apply(isString)

# Function to convert string to list
def stringToList(value):
    if value.startswith("[") and value.endswith("]"):
        return eval(value)
    else:
        return [value]

# Apply stringToList() Only to the Elements That Are Strings
df.loc[maskStarring, 'Starring'] = df.loc[maskStarring, 'Starring'].apply(stringToList)
df.loc[maskDirectedBy, 'Directed by'] = df.loc[maskDirectedBy, 'Directed by'].apply(stringToList)
df.loc[maskProducedBy, 'Produced by'] = df.loc[maskProducedBy, 'Produced by'].apply(stringToList)
df.loc[maskCinematography, 'Cinematography'] = df.loc[maskCinematography, 'Cinematography'].apply(stringToList)
df.loc[maskDistributedBy, 'Distributed by'] = df.loc[maskDistributedBy, 'Distributed by'].apply(stringToList)
df.loc[maskWrittenBy, 'Written by'] = df.loc[maskWrittenBy, 'Written by'].apply(stringToList)
df.loc[maskEditedBy, 'Edited by'] = df.loc[maskEditedBy, 'Edited by'].apply(stringToList)
df.loc[maskProductionCompanies, 'Production companies'] = df.loc[maskProductionCompanies, 'Production companies'].apply(stringToList)

In [830]:
# See What DateTime Rows are Causing Errors
errors = pd.to_datetime(df['Release Date (datetime)'], errors='coerce').isnull()
rowsWithErrors = df[errors]
print(rowsWithErrors)

      ID                   Title                      Directed by  \
78    78            Solitary Man  [Brian Koppelman, David Levien]
271  271      Something Borrowed                [Luke Greenfield]
294  294        The Perfect Host                [Nicholas Tomnay]
436  436  The Cabin in the Woods                   [Drew Goddard]
667  667         The World's End                   [Edgar Wright]

                                           Produced by      Cinematography  \
78   [Moshe Diamant, Danny Dimbort, Joe Gatta,  , J...  [Alwin H. Küchler]
271  [Hilary Swank, Molly Smith, Broderick Johnson,...    [Charles Minsky]
294                       [Mark Victor, Stacey Testro]      [John Brawley]
436                                      [Joss Whedon]      [Peter Deming]
667               [Nira Park, Tim Bevan, Eric Fellner]         [Bill Pope]

     Running Time (int) Release Date (datetime)  \
78                 90.0     2010-05-07 00:00:00
271               112.0     2011-05-06 00:00:00
294                92.0     2011-07-01 00:00:00
436                95.0     2012-04-13 00:00:00
667               109.0     2013-08-23 00:00:00

                                        Distributed by Language  \
78        [Millennium Films, Smartest Man Productions]  English
271  [Warner Bros. Pictures,  (North America and Fr...  English
294                                [Magnolia Pictures]  English
436                                        [Lionsgate]  English
667  [Focus Features (United States), Universal Pic...  English

                           Written by  \
78                  [Brian Koppelman]
271             [Jennie Snyder Urman]
294  [Nicholas Tomnay, Krishna Jones]
436       [Joss Whedon, Drew Goddard]
667        [Simon Pegg, Edgar Wright]

                                              Starring          Edited by  \
78   [Michael Douglas, Jenna Fischer, Jesse Eisenbe...     [Tricia Cooke]
271  [Kate Hudson, Ginnifer Goodwin, John Krasinski...     [John Axelrad]
294  [David Hyde Pierce, Clayne Crawford, Helen Reddy]  [Nicholas Tomnay]
436  [Kristen Connolly, Chris Hemsworth, Anna Hutch...      [Lisa Lassek]
667  [Simon Pegg, Nick Frost, Paddy Considine, Mart...    [Paul Machliss]

                                  Production companies  Box Office (float)  \
78   [Millennium Films, Paul Schiff Productions, Sm...           5680000.0
271                    [Alcon Entertainment, 2S Films]          60100000.0
294  [Stacey Testro International, Mark Victor Prod...            454000.0
436                         [Mutant Enemy Productions]          66500000.0
667  [Relativity Media, Working Title Films, Big Ta...          46100000.0

     Release Year  SentimentScore  Budget (float) Box Office Status Age Rating
78           2010        0.473684      15000000.0           Failure          R
271          2011        0.490000      35000000.0           Failure      PG-13
294          2011        0.703704        500000.0           Failure          R
436          2012        0.740000      30000000.0           Failure          R
667          2013        0.800000      20000000.0           Success          R

In [831]:
df.loc[df['ID'] == 78, 'Release Date (datetime)'] = '2010-05-07'
df.loc[df['ID'] == 271, 'Release Date (datetime)'] = '2011-05-06'
df.loc[df['ID'] == 294, 'Release Date (datetime)'] = '2011-07-01'
df.loc[df['ID'] == 436, 'Release Date (datetime)'] = '2012-04-13'
df.loc[df['ID'] == 667, 'Release Date (datetime)'] = '2013-08-23'

In [832]:
value = df.iloc[69]
print(value)

ID                                                                        79
Title                                                     Sex and the City 2
Directed by                                           [Michael Patrick King]
Produced by                [Michael Patrick King, Sarah Jessica Parker, D...
Cinematography                                                 [John Thomas]
Running Time (int)                                                     146.0
Release Date (datetime)                                           2010-05-27
Distributed by                                       [Warner Bros. Pictures]
Language                                                             English
Written by                                            [Michael Patrick King]
Starring                   [Sarah Jessica Parker, Kim Cattrall, Kristin D...
Edited by                                                [Michael Berenbaum]
Production companies       [New Line Cinema, HBO Films, Village Roadshow ...
Box Office (float)                                               294700000.0
Release Year                                                            2010
SentimentScore                                                      0.442105
Budget (float)                                                    95000000.0
Box Office Status                                                    Success
Age Rating                                                                 R
Name: 79, dtype: object

In [833]:
# Convert Release Date to DateTime
df['Release Date (datetime)'] = pd.to_datetime(df['Release Date (datetime)'], format='%Y-%m-%d')

In [834]:
# Check the Data Type of the Release Date Column in the 11th Row
releaseDate = df.loc[11, 'Release Date (datetime)']
print(type(releaseDate))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Rename Some Columns

In [835]:
df.rename(columns={'Budget (float)': 'Budget'}, inplace=True)
df.rename(columns={'Box Office (float)': 'Box Office'}, inplace=True)
df.rename(columns={'Running Time (int)': 'Runtime'}, inplace=True)
df.rename(columns={'Starring': 'Cast'}, inplace=True)

Convert Columns To Integers

In [836]:
df['Box Office'] = df['Box Office'].astype('int64')
df['Budget'] = df['Budget'].astype('int64')
df['Runtime'] = df['Runtime'].astype('int64')

In [837]:
# Extract Month and Day from Release Date
df['Release Day'] = df['Release Date (datetime)'].dt.day
df['Release Month'] = df['Release Date (datetime)'].dt.month

In [838]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1768 entries, 0 to 1994
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1768 non-null   int64
 1   Title                    1768 non-null   object
 2   Directed by              1768 non-null   object
 3   Produced by              1768 non-null   object
 4   Cinematography           1768 non-null   object
 5   Runtime                  1768 non-null   int64
 6   Release Date (datetime)  1768 non-null   datetime64[ns]
 7   Distributed by           1768 non-null   object
 8   Language                 1768 non-null   object
 9   Written by               1768 non-null   object
 10  Cast                     1768 non-null   object
 11  Edited by                1768 non-null   object
 12  Production companies     1768 non-null   object
 13  Box Office               1768 non-null   int64
 14  Release Year             1768 non-null   int64
 15  SentimentScore           1768 non-null   float64
 16  Budget                   1768 non-null   int64
 17  Box Office Status        1768 non-null   object
 18  Age Rating               1768 non-null   object
 19  Release Day              1768 non-null   int32
 20  Release Month            1768 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2), int64(5), object(12)
memory usage: 354.6+ KB

Fix Budget Mistakes

In [839]:
highestBudget = df['Budget'].max()
lowestBudget = df['Budget'].min()

print("Highest Budget:", highestBudget)
print("Lowest Budget:", lowestBudget)

Highest Budget: 700000000000
Lowest Budget: 3

In [840]:
# budget = df[df['Budget'] < 100000]
# print(budget[['ID', 'Title', 'Budget']])

In [841]:
df.loc[df['ID'] == 197, 'Budget'] = 140000000
df.loc[df['ID'] == 1783, 'Budget'] = 700000
df.loc[df['ID'] == 1394, 'Budget'] = 3500000
df.loc[df['ID'] == 230, 'Budget'] = 30000000
df.loc[df['ID'] == 1235, 'Budget'] = 40000000
df.loc[df['ID'] == 1250, 'Budget'] = 100000000
df.loc[df['ID'] == 1599, 'Budget'] = 500000

In [842]:
highestBudget = df['Budget'].max()
lowestBudget = df['Budget'].min()

print("Highest Budget:", highestBudget)
print("Lowest Budget:", lowestBudget)

Highest Budget: 447000000
Lowest Budget: 50000

Fix Box Office Mistakes

In [843]:
highestBoxOffice = df['Box Office'].max()
lowestBoxOffice = df['Box Office'].min()

print(f"Highest Box Office: {highestBoxOffice}")
print(f"Lowest Box Office: {lowestBoxOffice}")

Highest Box Office: 2923000000
Lowest Box Office: 132

In [844]:
# boxOffice = df[df['Box Office'] > 2000000000]
# print(boxOffice[['ID', 'Title', 'Box Office', 'Age Rating']])
# print(boxOffice.shape)

In [845]:
df.loc[df['ID'] == 414, 'Box Office'] = 132600000
df.loc[df['ID'] == 478, 'Box Office'] = 141909
df.loc[df['ID'] == 1820, 'Box Office'] = 233000000

In [846]:
# Remove Box Office Rows With Values Less Than 10000

df = df[df['Box Office'] >= 10000]

In [847]:
highestBoxOffice = df['Box Office'].max()
lowestBoxOffice = df['Box Office'].min()

print(f"Highest Box Office: {highestBoxOffice}")
print(f"Lowest Box Office: {lowestBoxOffice}")

Highest Box Office: 2923000000
Lowest Box Office: 15071

In [848]:
df.shape[0]

1761

In [849]:
movies = df[['Title', 'Directed by', 'Produced by', 'Cinematography', 'Runtime', 'Distributed by', 'Language', 'Written by', 'Cast', 'Edited by', 'Production companies', 'Release Day', 'Release Month', 'Release Year', 'Age Rating', 'SentimentScore', 'Budget', 'Box Office', 'Box Office Status']]

In [850]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1761 entries, 0 to 1994
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1761 non-null   object
 1   Directed by           1761 non-null   object
 2   Produced by           1761 non-null   object
 3   Cinematography        1761 non-null   object
 4   Runtime               1761 non-null   int64
 5   Distributed by        1761 non-null   object
 6   Language              1761 non-null   object
 7   Written by            1761 non-null   object
 8   Cast                  1761 non-null   object
 9   Edited by             1761 non-null   object
 10  Production companies  1761 non-null   object
 11  Release Day           1761 non-null   int32
 12  Release Month         1761 non-null   int32
 13  Release Year          1761 non-null   int64
 14  Age Rating            1761 non-null   object
 15  SentimentScore        1761 non-null   float64
 16  Budget                1761 non-null   int64
 17  Box Office            1761 non-null   int64
 18  Box Office Status     1761 non-null   object
dtypes: float64(1), int32(2), int64(4), object(12)
memory usage: 261.4+ KB

In [851]:
starring= movies.loc[0, 'Production companies']
print(starring[0])

Lionsgate

In [852]:
import pickle

def saveDataPickle(name, data):
    if hasattr(data, 'reset_index'):
        data = data.reset_index(drop=True)
    with open(name, 'wb') as f:
        pickle.dump(data, f)

In [853]:
saveDataPickle("WikipediaMovieDataset.pickle", movies)